<launch>
    <arg name="tf_x" default="0"/>
    <arg name="tf_y" default="0"/>
    <arg name="tf_z" default="0"/>
    <arg name="tf_roll" default="0"/>
    <arg name="tf_pitch" default="-1.57"/>
    <arg name="tf_yaw" default="0"/>
    <arg name="tf_parent" default="hug"/>
    <arg name="min_range" default="0.5"/>
    <arg name="max_range" default="20"/>
    <arg name="serial_port" default="/dev/ttyS1"/>

    <!-- TF -->
    <node pkg="tf" type="static_transform_publisher" name="airmarEchosounder_2_hug" args="$(arg tf_x) $(arg tf_y) $(arg tf_z) $(arg tf_roll) $(arg tf_pitch) $(arg tf_yaw) $(arg tf_parent) airmar_echosounder 100"/>

    <!-- Driver -->
    <node pkg="airmar_echosounder" type="airmar_echosounder.py" name="airmar_echosounder" >
        <param name="min_range" value="$(arg min_range)"/>
        <param name="max_range" value="$(arg max_range)"/>
        <param name="serial_port" value="$(arg serial_port)"/>
    </node>
</launch>
