<launch>
    <arg name="vehiclename" default="hug"/>
    <node name="hug_bag" output="screen" pkg="rosbag" type="record" args="
        -a -x '/guppy(.*)|/octo(.*)'
        --split --size 2048 -o $(env HOME)/$(arg vehiclename)" />

    <node name="hug_image_bag" output="screen" pkg="rosbag" type="record" args="
        /position
        /pose_ekf_slam/odometry
        /guppy/camera/camera_info
        /guppy/camera/image_raw
        --split --size 2048 -o $(env HOME)/$(arg vehiclename)_image" />
</launch>
