<launch>

    <!--  ################# Input arguments  #################  -->
    <arg name="isSimulation" default="true"/>
    <arg name="useAutosaveParams" default="false"/>
    <arg name="autosave_params_path" default="$(find cola2_hug)/config/saved_configurations"/>


    <!--  ##############  COLA2_CORE_COMMON  ##############  -->
    <rosparam command="load" file="$(find cola2_hug)/config/pilot.yaml"/>
	<rosparam command="load" file="$(find cola2_hug)/config/captain.yaml"/>
    <rosparam command="load" file="$(find cola2_hug)/config/safety.yaml"/>
    <rosparam command="load" file="$(find cola2_hug)/config/teleoperation.yaml"/>
    <rosparam command="load" file="$(find cola2_hug)/config/navigator.yaml"/>
    <rosparam command="load" ns="diagnostic_aggregator" file="$(find cola2_hug)/config/analyzers.yaml" />
    <param name="robot_description_hug" textfile="$(find cola2_hug)/data/model/hug.urdf"/>
    <param name="robot_name" value="hug"/>

    <group if="$(arg isSimulation)">
        <!--  ##############  COLA2_CORE_SIMULATON  ##############  -->
        <rosparam command="load" file="$(find cola2_hug)/config/dynamics_hug.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/sim_controller.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/sim_nav_sensors.yaml"/>
    </group>

    <group unless="$(arg isSimulation)">
        <!--  ################# COLA2_CORE_REAL  #################  -->
        <rosparam command="load" file="$(find cola2_hug)/config/check_sensors.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/controller.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/fastrax_it_500_gps.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/actuators_485.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/teledyne_explorer_dvl.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/adis_imu.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/imu_angle_estimator.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/hug_serial_ports.yaml"/>

        <!--  ################# COLA2_PAYLOAD  #################  -->
        <rosparam command="load" file="$(find cola2_hug)/config/bt878_framegrabber.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/evologics_modem.yaml" />
        <rosparam command="load" file="$(find cola2_hug)/config/imagenex_multibeam_sonar.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/imagenex_side_scan_sonar.yaml"/>
        <rosparam command="load" file="$(find cola2_hug)/config/soundmetrics_aris3000.yaml"/>
        <rosparam command="load" ns="echosounders_driver" file="$(find cola2_hug)/config/echosounders.yaml" />
        <rosparam command="load" ns="micron" file="$(find cola2_hug)/config/micron_params.yaml"/>
        <rosparam command="load" ns="profiler" file="$(find cola2_hug)/config/profiler_params.yaml"/>
    </group>
    <group if="$(arg useAutosaveParams)">
        <rosparam command="load" file="$(arg autosave_params_path)/latest_params.yaml"/>
    </group>
</launch>
