<launch>
    <!-- DEVICES CONFIG -->

    <rosparam command="load" file="$(find cola2_hug)/config/hug_serial_ports.yaml"/>

    <node name="test_actuators_open_loop" pkg="cola2_hug" type="test_actuators_open_loop.py" respawn="false"/>

    <rosparam command="load" file="$(find cola2_hug)/config/actuators_485.yaml"/>
    <node name="actuators" pkg="hug_actuators" type="hug_actuators" respawn="false" output="screen"/>

    <node name="emus_bms_client" pkg="emus_bms" type="emus_bms_client" respawn="true"/>
</launch>
